{% extends 'user_profile/index.html' %}

{% block body %}
    <form method="post" action="{% url 'authentication:login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <br/>
    <p>Use social login methods:</p>
    <ul>
        <li><a href="{% url 'authentication:google_login' %}">Login with Google</a></li>
        <li><a href="{% url 'authentication:microsoft_login' %}">Login with Microsoft</a></li>
    </ul>

    <p>Don't have an account? <a href="{% url 'authentication:register' %}">Register here</a>.</p>

{% endblock body %}
