{% extends 'user_profile/index.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block body %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Register" %}
    </form>

    <br/>
    <p>Use social login methods:</p>
    <ul>
        <li><a href="{% url 'authentication:google_login' %}">Register with Google</a></li>
    </ul>

    <p>Already have an account? <a href="{% url 'authentication:login' %}">Login here</a>.</p>

{% endblock body %}
